<div class="col-top-strech app-card" id="param-cont">
    <div class="row-left" id="run-flag">
        <input
            #cbRun
            type="checkbox"
            (click)="runChanged()">
        <label>run plate</label>
    </div>
    <div class="row-left">
        <label>set point:</label>
        <input
            #sp
            type="number"
            (change)="spChanged(sp.value)"
            (blur)="spBlur(sp.value)">
    </div>
    <div class="row-left">
        <label>hist:</label>
        <input
            #hist
            type="number"
            (change)="histChanged(hist.value)"
            (blur)="histBlur(hist.value)">
    </div>
    <div class="row-left">
        <label>duty:</label>
        <input
            #duty
            type="number"
            (change)="dutyChanged(duty.value)"
            (blur)="dutyBlur(duty.value)">
    </div>
</div>

<div class="col-top-strech app-card" id="chart-cont">
    <div class="row-left" id="t_rtd" #RTD>
        {{t_rtd}}
    </div>
    <div class="col-top-strech" id="chart">
        <canvas id="canvas"></canvas>
    </div>
    <div id="x-axe">
        <div>
            {{duration}}
        </div>
        <div>
            00:00:00
        </div>
    </div>
</div>
