<div class="col-top-strech app-card" id="param-cont">
    <div class="row-left" id="run-flag">
        <input
            #cbRun
            type="checkbox"
            (click)="runChanged()">
        <label>run plate</label>
    </div>
    <div class="row-left">
        <label>set point:</label>
        <input id="sp"
            #sp_ref
            type="number"
            [ngModel]="s_set_point()"
            (ngModelChange)="spChanged($event)"
            (blur)="spBlur()">
    </div>
    <div class="row-left">
        <label>hist:</label>
        <input id="hist"
            #hist_ref
            type="number"
            step="0.1"
            [ngModel]="s_hist()"
            (ngModelChange)="histChanged($event)"
            (blur)="histBlur()">
    </div>
    <div class="row-left">
        <label>duty:</label>
        <input id="duty"
            #duty_ref
            type="number"
            [ngModel]="s_ssr_duty()"
            (ngModelChange)="dutyChanged($event)"
            (blur)="dutyBlur()">
    </div>
</div>

<div class="col-top-strech app-card" id="chart-cont">
    <div class="row-left" id="t_rtd" #RTD>
        {{t_rtd()}}
    </div>
    <div class="col-top-strech" id="chart">
        <canvas id="canvas"></canvas>
    </div>
    <div id="x-axe">
        <div>
            {{duration()}}
        </div>
        <div>
            00:00:00
        </div>
    </div>
</div>
